* {
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
}

html {
  background-color: rgb(54, 54, 54);
}

body{
  background-color: rgb(54, 54, 54);
  min-height: 100vh;
  max-height: fit-content;
}

hr {
  background-color: #fff;
}

input {
  background-color: rgb(54, 54, 54) !important;
  border: 2px solid #fff !important;
  color: white !important;
}

.caption {
  font-size: 0.5em;
}

.label-checkbox {
  font-size: 1em;
}

/* .total {
  display: block;
  background-color: #fff;
  width: 20px;
  height: 20px;
} */



@media (max-width: 768px) {
  .caption {
    font-size: 1em;
    width: 300px;
    text-align: left;
    text-align: right;
    margin-right: 10px;
  }
  .label-checkbox {
    font-size: 1.25em;
  }
  .acomp-check {
    padding-left: 300px;
  }
}